.search {
    position: relative;
    justify-content: space-between;
    width: 320px;
    height: 40px;
    background-color: var(--search-color);
    border-radius: 20px;
    padding: 0px 0px 0px 16px;
    align-items: center;
    display: flex;
    border: 1px solid transparent;
    input {
        width: 220px;
        height: 100%;
        font-size: 1.6rem;
        background: transparent;
        color: var(--color);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(21, 21, 21);
    }

    input:not(:placeholder-shown) ~ .clear {
        display: block;
    }

    &::after {
        position: absolute;
        content: '';
        height: 30px;
        width: 1px;
        top: 4px;
        right: 46px;
        background-color: var(--color);
    }

    &:focus-within {
        border: 1px solid rgb(21, 21, 21);
    }
}

.clear {
    background-color: transparent;
    color: var(--color);
    display: none;
}

.loading {
    position: absolute;
    background-color: transparent;
    top: 11px;
    right: 56px;
    display: none;
}

.search-result {
    width: 320px;
}

.search-btn {
    align-items: center;
    height: 100%;
    width: 46px;
    padding-right: 5px;
    border-radius: 0px 20px 20px 0px;
    background-color: transparent;
    font-size: 2.2rem;
    color: var(--color);
    &:hover {
        cursor: pointer;
        background-color: #242423;
    }
}

.search-title {
    padding-left: 15px;
    border-bottom: 1px solid rgb(91, 91, 92);
    padding-top: 10px;
}
.tag-item {
    display: flex;
    padding-left: 15px;
}

.tag-item p {
    background-color: #242423;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    margin: 6px;
}
.tag-item p:first-child {
    margin-left: 0px;
}

.tag-item p:before {
    content: '#';
    margin-right: 2px;
}
